.init-type {
  display: inline-block;

  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: var(--bs-border-color);

  width: 5rem;

  font-size: 1rem;

  padding: 5px;
  margin: 0px 3px;
}
